*{background-color: #F5F5F7;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px 20px 0;
}

.header {
     position: absolute;
     width: 100%;
     height: 10%;
     top: 0;
     left: 0;
}

.nav {
    display: flex;
    justify-content: end;
}

.nav-link{
    color: #ebb70d;
    text-decoration:none;
}


.nav-menu{
    display: flex;
    margin-top: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 12px;
    margin: 0 5px;
    align-items: end;
    line-height: 10px;
    text-transform: uppercase;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover{
    background-color: #f1e755;
    transition: 1.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    
}

img{
    width: 100%;
    
}
.imagenmuestra{
    width: 80%;
    margin: 10%;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px 10% ;
    text-align: justify;
}

  .buttons 
  {
    display: flex;
    justify-content: end;
  }

  .buttons a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 3px;
    color: #ebb70d;
    transition: all 1.5s ease-in-out;
  }

  .buttons a:hover{
    background-color: #f1e755;
    transition: 1.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  }

h5{
    margin-top: 100px;
    text-align: end;
    text-transform: uppercase;
    color: #ebb70d;
}
h1{
    color: #ebb70d;
    text-align: center;
    margin-top: 5%;
    text-transform: uppercase;
}
h4{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align-last: center;
}

.container1 {
    display: flex;
    align-self: center;
    padding: 10% 10% 0 10%;
  } 
  .text1 {
    flex: 2;
    text-align: center;
    margin-right: 10%;
  }
    .image1 {
    flex: 2;
    width: 50%;
  }

  .container2 {
    display: flex;
    align-self: center;
    padding: 5% 10% 0 10%;
  }
  .image2 {
    flex: 2;
    width: 50%;
  }
  .text2 {
    flex: 2;
    text-align: center;
    margin-left: 15%;
  }



  .contact-box {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ebb70d;
    border-radius: 3px;
  }
  
  h2 {
    text-align: center;
    color: #ebb70d;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ebb70d;
    border-radius: 3px;
  }

  .contacto{
    display: flex;
    gap: 24px;
  }
  .contacto div{
    width: 100%;
  }
  .datos p{
    font-size: 13px;
  }
  .datos ul li{
    display: flex;
    font-size: 13px;
    justify-content: end;
  }
  
  .button-group {
    margin-top: 20px;
    text-align: center;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button[type="reset"] {
    background-color: #f44336;
  }


  .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .galeria img {
    width: 18%;
    border: 1px solid #ebb70d;
    border-radius: 3%;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 10%;
  }

  .nuestragaleria{
    color: #ebb70d;
    justify-content: center;
    text-decoration: underline;
    margin-top: 10%;
    margin-bottom: 10%;

  }

